<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}Flouflix</title>
  <meta name="description" property="og:description" content="The site that contains them all. Grouping of streaming websites"/>
  <link rel="canonical" href="{{ request.base_url }}"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='svg/icon_flouflix.svg') }}" type="image/svg+xml">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script> const modules = {{ modules|tojson }}; </script>
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <a href="/" class="icon_logo">
      <img class="logo" src="{{ url_for('static', filename='svg/logo_flouflix.svg') }}" type="image/svg+xml">
      <img class="icon" src="{{ url_for('static', filename='svg/icon_flouflix.svg') }}" type="image/svg+xml">
    </a>
    {% block header %}{% endblock %}
  </header>
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer>
    <a href="/reload/" class="text-grey">Reload module</a>
    <a href="/doc/" class="text-grey">Doc for module dev</a>
    {% block footer %}{% endblock %}
  </footer>
  {% block front_end_scripts %}{% endblock %}
  {% block end_body %}{% endblock %}
</body>
</html>