{% extends 'base.html' %}

{% block main %}
    <script>
      const xhr = new XMLHttpRequest();
      xhr.open('POST', `/requestURL/`);
      xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
      xhr.send(window.location.search.substr(1));
      xhr.onload = () => {
        let a = document.createElement('a');
        a.download = '{{ site }}.html';
        a.href = window.URL.createObjectURL(new Blob([xhr.responseText], { type: 'text/plain' }));
        a.click();
      }
    </script>
{% endblock %}