{% extends 'modules.html' %}

{% block main %}
    <div class="infos">
      <div class="banner">
        <img class="banner__icon" src="{{ url_for('static', filename='svg/icon_flouflix.svg') }}" type="image/svg+xml">
        <span class="banner__type text-grey"></span>
        <h1 class="banner__title">Wait for loading...</h1>
      </div>
      <h3>Wait for loading...</h3>
      <p class="details text-grey"></p>
      
      <p class="desc"></p>
      
      <p class="genres"><span class="text-grey">Genres : </span></p>
      <div class="bg"><img src="" class="bg__img"></div>
    </div>
    <div class="sections"></div>
    <div class="iframe-container" style="display: none;" onclick="show_iframe('')">
      <iframe src="" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}

{% block front_end_scripts %}<script src="{{ url_for('static', filename='js/sections_front.js') }}"></script>{% endblock %}