{% extends 'base.html' %}

{% block head %}<script src="{{ url_for('static', filename='js/slider.js') }}"></script>{% endblock %}

{% block main %}
      <section class="container">
        <h2></h2>
        <div class="indicators"></div>
        <nav class="move">
          <button type="button" onclick="slide_button(this)" class="move__btn moveL">ᐊ</button>
          <button type="button" onclick="slide_button(this)" class="move__btn moveR">ᐅ</button>
        </nav>
        <div class="slider" onscroll="slide_scroll(this)">
          <a class="element" href="">
            <img src="" class="element__img">
            <detail class="detail">
              <div class="detail__styles">
                <span class="detail__left"></span>
                <span class="detail__center"></span>
                <span class="detail__right"></span>
              </div>
              <br>
              <div class="detail__genres"></div>
            </detail>
            <h4 class="element__title"></h4>
          </a>
        </div>
      </section>
{% endblock %}