{% extends 'base.html' %}

{% block main %}
      <form method="post" action="/upload/">
        <select name="type"></select>
        <input type="text" name="site" placeholder="Module name" required><br>
        <input type="text" name="link" placeholder="Module link" required><br>
        <input type="submit" value="Submit">
      </form>
      <script>
        document.querySelector('.search-box').remove();
        document.querySelector('#modules').remove();
        Object.keys(modules).forEach(type => {
            console.log(type)
            let option = document.createElement('option');
            option.value = option.innerHTML = type;
            document.querySelector('form select').appendChild(option)
        })
      </script>
{% endblock %}